# --- NEO4J ---
NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=testpassword

# --- KAFKA (KRaft mode) ---
KAFKA_PORT=9092

KAFKA_CFG_NODE_ID=1 # Unique integer for each broker (use 1 for single node).
KAFKA_CFG_PROCESS_ROLES=broker,controller # Set to broker,controller for single node.
KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafkajsentrix:9093 #Format is node_id@host:controller_port.
KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER # Must be CONTROLLER.
KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093 # Both PLAINTEXT (for clients) and CONTROLLER (for KRaft internal).
KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092 #What clients use to connect.
KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT # Map listeners to protocols.
KAFKA_ALLOW_PLAINTEXT_LISTENER=yes #For dev, allows PLAINTEXT.

