# mcp-server based .env goes here

# --- NEO4J----
NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=testpassword

# ---STREAMINGHUB---
STREAMING_HUB_SERVICE=http://localhost:4001/ingest
